  <div class="inner">
    <h2 class="section_title">&mdash; Contact us &mdash;</h2>

    <form action="#">
      <ul></ul>
      <a href="#" class="button blue ok"><span>Send message</span></a>
    </form>
    <a href="#" class="close"></a>
  </div>
