<div class="inner">
  <h2 class="section_title">&mdash; <%= title %> &mdash;</h2>
  <p> We will answer you in the next days.  </p>
  <p> Meanwhile, we suggest you to <a href="/orders/new/markers">test our map templates</a> to know more about the capabilities of MapMyData.  </p>
  <a href="#" class="button blue close"><span>Close</span></a>
  <a href="#" class="close close-dialog"></a>
</div>
