#templates-detail .template {
  display: none;
}

#templates-detail .template.selected {
  display: block;
}

#templates-detail .template.selected .options .option_price {
  display: none;
}

#templates-detail .template.selected .options .selected .label_price {
  display: none;
}

#templates-detail .template.selected .options .selected .ellipsis {
  display: none;
}

#templates-detail .template.selected .options .selected .option_price {
  display: block;
}
