<div class="cartodb-popup thematic">
  <div class="wrapper">
    <div class="content">
      <h1><%= title %></h1>
      <ul>
        <li><strong>Population</strong>: <%= intword(population) %></li>
        <li><strong>GDP</strong>: <%= intword(gdp) %></li>
      </ul>
    </div>
  </div>
  <div class="tip"></div>
</div>
