<div class="cartodb-popup thematic">
  <div class="wrapper">
    <div class="content">
      <h1><%= title %></h1>
      <ul>
        <li><div class="count"><%= intword(population.toFixed(2)) %></div><strong>Population</strong></li>
        <li><div class="count"><%= (gdp/1000000).toFixed(2) %><span>M</span></div><strong>GDP</strong></li>
      </ul>
    </div>
  </div>
  <div class="tip"></div>
</div>
