<div class="cartodb-popup classic">
  <a class="close" href="#close">x</a>

  <div class="wrapper">
    <div class="content">
      <label><%= title %></label>
    </div>
  </div>

  <div class="tip">
    <label>id: <strong><%= cartodb_id %></strong></label>
  </div>

</div>
