<div class="cartodb-popup classic">
  <a class="close" href="#close">x</a>

  <div class="wrapper">
    <div class="content">
      <% _.each(content, function(c) { %>
      <label><%= c.key %></label>
      <% if (c.value == null) { %>
      <p class="empty">null</p>
      <% } else { %>
      <p><%= c.value %></p>
      <% } %>
      <% }) %>
    </div>
  </div>

  <div class="tip">
    <label>id: <strong><%= cartodb_id %></strong></label>
  </div>

</div>
