<div class="cartodb-popup photo">
  <a class="close" href="#close">x</a>
  <div class="wrapper">
    <img src="<%= src %>" />
    <div class="content">
      <h1>Monfragüe National Park</h1>
    </div>
  </div>
  <div class="tip">
  </div>
</div>
