<section class="call_for_action">
<h2 class="section_title">&mdash; <%= t('.title') %> &mdash;</h2>

<div class="button big gray">
  <strong><%= t('.order_your_map.title') %></strong>
  <%= link_to t('.order_your_map.subtitle'), new_order_path %>
</div>
</section>
