<section class="interest">
    <h2><%= t('.title') %></h2>

  <div class="button big gray">
    <strong><%= t('.order') %></strong>
    <%= link_to t('.order_your_map'), new_order_path %>
  </div>
</section>
