<section class="interest">
<h2 class="title"><%= t('.title') %></h2>

<div class="button big gray">
  <strong><%= t('.order_your_map.title') %></strong>
  <%= link_to t('.order_your_map.subtitle'), new_order_path %>
</div>
</section>
