<section class="slideshow">
  <h2><%= t('.title') %></h2>
  <%= link_to '', '#', :class => 'previous' %>
  <div class="gallery">
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
    <img src="" alt="" />
  </div>
  <%= link_to '', '#', :class => 'next' %>
  <div class="shadow top"></div>
  <div class="shadow bottom"></div>
</section>
