<section class="slideshow">
  <h2 class="title"><%= t('.title') %></h2>

  <%= link_to '', '#', :class => 'previous' %>

  <div class="gallery">
    <img src="/assets/slideshow/slide-01.png" alt="" />
  </div>

  <%= link_to '', '#', :class => 'next' %>

  <div class="shadow top"></div>
  <div class="shadow bottom"></div>
</section>
