<header>
<div class="inner">

  <%= link_to 'MapMe!', root_path, :class => :logo %>
  <%= render :partial => 'orders/nav' %>

  <hgroup>
  <h3><%= t('.creating_order') %></h3>
  <h2>&mdash; <%= t('.select_your_template') %> &mdash;</h1>
  </hgroup>

</div>
</header>
