<div class="bg-map"></div>

<%= render :partial => 'common/header' %>

<div id="receipt">

  <section>
  <h3>Hi Hyperakt,</h3>
  <p>This is your map tracker page. Here you will be able to see the progress of your map.</p>
  </section>

  <section>
  <h3>Your order summary <span class="date">3/06/2012</span></h3>
  <ul>
    <li>Markers Map with… <span class="price">$2000</span>
    <ul>
      <li>Dynamic filters <span class="price">$2000</span></li>
      <li>Dynamic filters <span class="price">$2000</span></li>
    </ul>
    </li>
  </ul>

  <div class="total">
    <strong>TOTAL</strong> <div class="price">Starting from $4000</div>
  </div>

  <div class="stamp"></div>
  </section>

  <section class="highlighted centered">
  <h3>We are analyzing your data.</h3>
  <p>In order to give you a price based on the time we will need to proccess and visualize it we need to take a look at your data first. Once we finish, we will contact you -and update this page- with the definitive budget, which you will approve or discard.</p>
  <p>Do you think that is taking us too much time? <a href="#">Contact us</a></p>
  </section>

  <div class="t"></div>
  <div class="b"></div>
</div>

<%= render :partial => 'home/footer' %>
