<div class="cartodb-popup">
  <div class="cartodb-popup-content-wrapper">
    <img src="/assets/tmp/infowindow-01.png" />
    <div class="cartodb-popup-content">
      <h1>Monfragüe National Park</h1>
    </div>
  </div>
  <div class="cartodb-popup-tip-container">
  </div>
</div>
