<script>

  Recurly.config({
    subdomain: '<%= ENV['RECURLY_DOMAIN'] %>'
  , currency: 'USD'
  , country: 'US'
  });

  Recurly.buildTransactionForm({
    target: '#transaction-form',
    successURL: "<%= order_payments_path(@order) %>",
    signature: '<%= @signature %>'
  });

</script>

<div id="transaction-form"></div>
