<%= render :partial => 'common/header' %>

<section class="questions">
<div class="inner">

  <ul>
    <li>
    <a href="#"><h3>What colour is the white horse of Saintiago?</h3></a>
    <p>All the maps delivered by MapMe are made ad-hoc for each client. We will find the best solution for your data.</p>
    </li>

    <li>
    <a href="#"><h3>What colour is the white horse of Saintiago?</h3></a>
    <p>All the maps delivered by MapMe are made ad-hoc for each client. We will find the best solution for your data.</p>
    </li>

    <li>
    <a href="#"><h3>What colour is the white horse of Saintiago?</h3></a>
    <p>All the maps delivered by MapMe are made ad-hoc for each client. We will find the best solution for your data.</p>
    </li>
  </ul>

</div>
</section>

<h2 class="section_title">&mdash; <%= t('.pricing') %> &mdash;</h2>

<section class="questions">
<div class="inner">

  <ul>
    <li>
    <a href="#"><h3>What colour is the white horse of Saintiago?</h3></a>
    <p>All the maps delivered by MapMe are made ad-hoc for each client. We will find the best solution for your data.</p>
    </li>

    <li>
    <a href="#"><h3>What colour is the white horse of Saintiago?</h3></a>
    <p>All the maps delivered by MapMe are made ad-hoc for each client. We will find the best solution for your data.</p>
    </li>

    <li>
    <a href="#"><h3>What colour is the white horse of Saintiago?</h3></a>
    <p>All the maps delivered by MapMe are made ad-hoc for each client. We will find the best solution for your data.</p>
    </li>
  </ul>

</div>

</section>

<%= render :partial => 'faq/questions' %>
<%= render :partial => 'home/footer' %>
