//= require_self
//= require fonts
//= require_tree .

@import "compass";
@import "compass/reset";
@import "helpers";

body {

}

a {
  text-decoration:none;
}

/* HEADER */

.home header {
  position:relative;

  height: 521px;
  margin: auto;
  text-align:center;

  background: url(backgrounds/bg-street.png) repeat-x;
  @extend .home-inner;
}

header .logo {
  position:absolute;
  top: 40px;

  @extend .sans-serif-bold;
  font-size:31px;
  color: $cWhite;
}

.home header hgroup {

  position:absolute;
  top: 180px;
  margin: 0 0 40px 0;

  color: $cWhite;
  @extend .sans-serif;
  @include text-shadow(rgba(0,0,0,.25) 1px 1px 2px);

  h1 { width: 474px; margin: 0 0 20px 0; font-size:43px; line-height:40px; }
  p  { width: 430px; margin: 0 0 20px 0; font-size:21px; line-height: 25px; }
  p strong { @extend .sans-serif-bold}
}

header nav {
  position:absolute;
  top:45px;
  right:0;

  ul {
    li {
      @include inline-block();

      a { color: $cWhite; @extend .sans-serif; }

      &:last-child:after {
        content: none;
        padding: 0;
      }

      &:after {
        color: $cWhite;
        content: "/";
        padding: 0 5px;
      }

    }
  }
}

.home header .computer {
  position:absolute;
  right: 0;
  bottom: 0;

  width: 625px;
  height: 391px;

  background: url(backgrounds/bg-computer.png) no-repeat;

  z-index: 100;
}


/* BODY */

.button.blue {
  @include inline-block();

  padding: 15px 26px 15px 26px;

  border: 1px solid #517EA2;

  @include border-radius(3px);
  background: url(backgrounds/bg-button-blue.png) 0 0;

  text-transform: uppercase;
  color: $cWhite;
  font-size:17px;
  @extend .sans-serif;
  @include text-shadow(#273F51 1px 1px 1px);

  // TODO: hover & active
}
.button.gray {
  @include inline-block();

  padding: 17px 27px;

  border: 1px solid #7F441F;

  @include border-radius(3px);
  @include background-image(linear-gradient(white, #aaaaaa));

  color: $cGray1;
  font-size:21px;
  @extend .sans-serif;
  @include text-shadow($cWhite 1px 1px 1px);

  // TODO: hover & active

  &.big {

    padding: 25px 36px;

    strong {
      @include inline-block();

      margin: 0 0 7px 0;
      padding: 0 0 7px 0;

      border-bottom: 1px solid $cGray3;
      @include text-shadow($cWhite 1px 1px 1px);
    }

    a {
      display:block;

      font-size:13px;
      color: #666666;
      @include text-shadow(none);
    }
  }
}

section h2.title {
  margin:auto;

  text-align:center;
  color:$cGray3;
  text-transform: uppercase;
  @extend .sans-serif-light;
  font-size:21px;
  letter-spacing: 2px;

  /*&:before,
  &:after { // Dash
    content: "";
    position:absolute;
    width: 21px;
    height: 1px;
    background:$cGray4;
 }

  &:before { margin: 9px 0 0 -30px; }
  &:after  { margin: 9px 0 0 7px; }*/
}

/* SECTION — CHARACTERISTICS */

section.characteristics {

  @extend .home-inner;

  padding: 50px 0 40px 0;

  background: url(backgrounds/bg-padded.png);

  h2.title { margin: 0 0 40px 0; }
  .inner > div { margin: 0 0 30px 0; }

  .box {
    $pT: 40px;
    $pR: 40px;
    $pB: 40px;
    $pL: 40px;

    @include inline-block();

    vertical-align: top;

    width:300px - $pL - $pR;
    padding: $pT $pR $pB $pL;
    margin: 0 20px 29px 0;

    background: $cWhite;

    border: 1px solid #ccc;
    @include border-radius(3px);

    text-align:center;

    &.last { margin-right: 0; }
  }

  .box p {
    padding: 15px 0 0 0;
    margin:auto;
    width: 221px;

    border-top: 1px solid #E5E5E5;

    @extend .sans-serif;
    font-size:15px;
    color: $cGray2;

    line-height:120%;
  }


  .how_does_it_work {
    .icon {
      margin: auto;
      padding-bottom: 10px;
    }

    .box {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .box h2 {
      padding: 10px 0 15px 0;

      border-top: 1px solid #E5E5E5;

      @extend .sans-serif;
      font-size:21px;
      color: $cGray1;
    }

    .box.step-1 .icon {
      width: 153px;
      height:118px;
      @include icons-sprite(step-01);
    }

    .box.step-2 .icon {
      width: 190px;
      //height: 93px;
      height: 118px;
      @include icons-sprite(step-02, $offset-y:15);
    }

    .box.step-3 .icon {
      width: 173px;
      //height: 74px;
      height: 118px;
      @include icons-sprite(step-03, $offset-y:23);
    }

  }

  .box h3 {
    padding: 0 0 15px 0;

    @extend .sans-serif;
    font-size:21px;
    color: $cGray1;
  }
}

section.interest {
  padding: 50px 0 57px 0;

  text-align:center;
  background: url(backgrounds/bg-orange.png) repeat-x;

  h2.title {
    color:$cWhite;
    margin: 0 0 43px 0;

    &:before, &:after { background:$cWhite; }
  }

}


/* SLIDESHOW */

section.slideshow {

  $pT: 50px;

  position:relative;
  height: 533px - $pT;

  padding: $pT 0 0 0;

  background: url(backgrounds/bg-stars.png) center top;
  border-bottom: 1px solid rgba(0,0,0,.5);

  overflow:hidden;


  h2.title {
    color:$cWhite;

    &:before, &:after { background:$cWhite; }
  }

  .pagination {

    position:relative;
    top: -20px;
    margin: auto;

    text-align:center;

    li {
      @include inline-block();
      margin: 0 5px 0 0;

      &.selected a { @include icons-sprite(slideshow-bullet-selected); }
      a:hover { @include icons-sprite(slideshow-bullet-selected); }

      a {
        display:block;
        width:7px;
        height:7px;

        @include icons-sprite(slideshow-bullet);
      }
    }
  } // pagination

  & > .slideshow {
    position:relative;
    width: 874px;
    height: 463px;
    bottom: -25px;
    margin: auto;
  }

  & > .slideshow ul.slides {
    position:relative;
    list-style:none;
  }

  & > .slideshow ul.slides li {
    display:none;
    position:absolute;

    .bubble {
      position:absolute;
      top: -30px;
      right: -90px;

      width:  171px;
      height: 172px;

      @include icons-sprite(slideshow-bubble);
      opacity:0;

      display:table;

      p {
        display:table-cell;
        vertical-align:middle;
        padding: 35px 30px 30px 30px;

        color: #333333;

        font-size: 16px;
        text-align: center;
        @extend .sans-serif-light;
      }
    }
  }

  .prev, .next {
    position:absolute;

    $width: 49px;
    $height: $width;

    width: $width;
    height: $height;

    top: 50%;
    margin-top: -1*$height/2;
  }

  $paginationPadding: 70px;

  .prev {
    left: -1*$paginationPadding;
    @include icons-sprite(btn-slideshow-prev);
    &:hover { @include icons-sprite(btn-slideshow-prev-hover);}
  }

  .next {
    right: -1*$paginationPadding;
    @include icons-sprite(btn-slideshow-next);
    &:hover { @include icons-sprite(btn-slideshow-next-hover);}
  }

}

/* FOOTER */

footer {

  position:relative;

  @extend .home-inner;

  background: url(backgrounds/bg-padded.png);
  height:221px;

  nav {
    position:absolute;
    top: 65px;
    right: 0;
  }

  .logo {
    position:absolute;
    top: 50px;

    @extend .sans-serif-bold;
    font-size:31px;
    color: $cGray1;
  }

  ul {
    @include inline-block();
    vertical-align: top;

    margin: 0 0 0 100px;

    li {
      margin: 0 0 7px 0;

      @extend .sans-serif;
    }

    li strong {
      display:block;
      margin: 0 0 10px 0;

      font-size:13px;
      @extend .sans-serif;
      text-transform: uppercase;
    }
  }

  ul li a {
    @extend .sans-serif;
    font-size:15px;
    color: $cLink;
  }
}

