//= require_self
//= require fonts
//= require_tree .

@import "compass";
@import "compass/reset";
@import "helpers";

body {

}

a {
  text-decoration:none;
}


/* HEADER */
header {
  position:relative;

  height: 521px;
  margin: auto;
  text-align:center;

  background: url(backgrounds/bg-street.png) repeat-x;
  @extend .home-inner;
}

.home-inner {
  .inner {
    position:relative;
    margin: auto;
    width:960px;

    text-align:left;
  }
}

header .logo {
  position:absolute;
  top: 40px;

  @extend .sans-serif-bold;
  font-size:31px;
  color: $cWhite;
}

header hgroup {

  position:absolute;
  top: 180px;
  margin: 0 0 40px 0;

  color: $cWhite;
  @extend .sans-serif;
  @include text-shadow(rgba(0,0,0,.25) 1px 1px 2px);

  h1 { width: 474px; margin: 0 0 20px 0; font-size:43px; line-height:40px; }
  p  { width: 430px; font-size:21px; line-height: 25px; }
  p strong { @extend .sans-serif-bold}
}

header nav {
  position:absolute;
  top:45px;
  right:0;

  ul {
    li {
      @include inline-block();

      a { color: $cWhite; @extend .sans-serif; }
    }
  }
}

header .computer {
  position:absolute;
  right: 0;
  bottom: 0;

  width: 625px;
  height: 391px;

  background: url(backgrounds/bg-computer.png) no-repeat;
}


/* BODY */

.button {
  @include inline-block();

  margin: 30px 0 0 0;
  padding: 17px 27px;

  border: 1px solid #7F441F;

  @include border-radius(3px);
  @include background-image(linear-gradient(white, #aaaaaa));

  color: $cGray1;
  font-size:21px;
  @extend .sans-serif;
  @include text-shadow($cWhite 1px 1px 1px);

  // TODO: hover & active
}


section.characteristics {

  @extend .home-inner;

  padding: 20px 0;

  background: url(backgrounds/bg-padded.png);

  h2.section {
    padding: 40px 0;

    color:$cGray2;
    font-size:21px;
    text-transform: uppercase;
    @extend .sans-serif;
    text-align:center;
  }

  .box {
    $pT: 40px;
    $pR: 40px;
    $pB: 40px;
    $pL: 40px;

    @include inline-block();

    vertical-align: top;

    width:300px - $pL - $pR;
    padding: $pT $pR $pB $pL;
    margin: 0 20px 29px 0;

    background: $cWhite;

    border: 1px solid #ccc;
    @include border-radius(3px);

    text-align:center;

    &.last { margin-right: 0; }
  }

  .box p {
    padding: 15px 0 0 0;
    margin:auto;
    border-top: 1px solid #E5E5E5;
    width: 221px;

    @extend .sans-serif;
    font-size:15px;
    color: $cGray2;

    line-height:120%;
  }

  .box h2 {
    padding: 0 0 15px 0;

    @extend .sans-serif;
    font-size:21px;
    color: $cGray1;
  }

  .how_does_it_work {
    .icon {
      margin: auto;
    }

    .box.step-1 .icon {
      width: 153px;
      height:118px;
      @include icons-sprite(step-01);
    }

    .box.step-2 .icon {
      width: 190px;
      height: 93px;
      @include icons-sprite(step-02);
    }

    .box.step-3 .icon {
      width: 173px;
      height: 74px;
      @include icons-sprite(step-03);
    }

  }

  .box h3 {
    padding: 0 0 15px 0;

    @extend .sans-serif;
    font-size:21px;
    color: $cGray1;
  }
}

section.slideshow {
  height: 533px;
  background: url(backgrounds/bg-stars.png) center top;
}

section.interest {
  height: 276px;
  text-align:center;
  background: url(backgrounds/bg-orange.png) repeat-x;
}


/* FOOTER */
footer {

  position:relative;

  @extend .home-inner;

  background: url(backgrounds/bg-padded.png);
  height:221px;

  nav {
    position:absolute;
    top: 65px;
    right: 0;
  }

  .logo {
    position:absolute;
    top: 50px;

    @extend .sans-serif-bold;
    font-size:31px;
    color: $cGray1;
  }

  ul {
    @include inline-block();
    vertical-align: top;

    margin: 0 0 0 100px;

    li {
      margin: 0 0 7px 0;

      @extend .sans-serif;
    }

    li strong {
      display:block;
      margin: 0 0 10px 0;

      font-size:13px;
      @extend .sans-serif;
      text-transform: uppercase;
    }
  }

  ul li a {
    @extend .sans-serif;
    font-size:15px;
    color: $cLink;
  }
}
