//= require_self
//= require fonts
//= require_tree .
//= require leaflet
//= require fileuploader

@import "compass";
@import "compass/reset";
@import "helpers";

body {

}

/* GENERAL STUFF */

a {
  text-decoration:none;
}

.price { @extend .sans-serif-base; font-size: 15px; font-weight:100; color: $cOrange; }

.section_title {
  margin:auto;

  text-align:center;
  text-transform: uppercase;
  @include font("sans-serif-light", 21px, $cGray3);
  letter-spacing: 2px;
}

/* HEADER */

.home header {
  position:relative;

  height: 521px;
  margin: auto;
  text-align:center;

  background: url(backgrounds/bg-street.png) repeat-x;

  @extend .home-inner;
}

.home header hgroup {

  @include position(180px, false, false, false);

  margin: 0 0 40px 0;

  color: $cWhite;
  @extend .sans-serif;
  @include text-shadow( rgba($cGray0, 0.25) 1px 1px 2px);

  h1 { width: 474px; margin: 0 0 20px 0; font-size:43px; line-height:40px; }
  p  { width: 430px; margin: 0 0 20px 0; font-size:21px; line-height: 25px; }
  p strong { @extend .sans-serif-bold}

} // home header hgroup

header nav {

  @include position(45px, 0, false, false);

  ul {
    li {
      @include inline-block();

      a { color: $cWhite; @extend .sans-serif; }
      a:hover { border-bottom: 1px solid rgba($cWhite, .5); padding-bottom: 3px;}

      &:last-child:after {
        content: none;
        padding: 0;
      }

      &:after {
        color: $cWhite;
        content: "/";
        padding: 0 5px;
      }

    }
  }
} // nav

header .logo {
  @include position(40px, false, false, false);

  @extend .sans-serif-bold;
  font-size:31px;
  color: $cWhite;
}

.home header .computer {

  @include position(false, 0, 0, false);
  @include size(625px, 391px);

  background: url(backgrounds/bg-computer.png) no-repeat;

  z-index: 100;
}


/* BODY */

.button.white {
  @include inline-block();

  padding: 26px 96px;

  border: 1px solid #9A3E00;

  @include border-radius(5px);
  background: $cWhite;

  text-transform: uppercase;
  color: $cGray1;
  font-size:17px;
  @extend .sans-serif;

  // TODO: hover & active
}

.button.blue {
  @include inline-block();

  padding: 15px 26px 15px 26px;

  border: 1px solid #517EA2;

  @include border-radius(3px);
  background: url(backgrounds/bg-button-blue.png) 0 0;

  text-transform: uppercase;
  color: $cWhite;
  font-size:17px;
  @extend .sans-serif;
  @include text-shadow(#273F51 1px 1px 1px);

  // TODO: hover & active
}

.button.gray {
  @include inline-block();

  padding: 17px 27px;

  border: 1px solid #7F441F;

  @include border-radius(3px);
  @include background-image(linear-gradient($cWhite, #aaaaaa));

  color: $cGray1;
  font-size:21px;
  @extend .sans-serif;
  @include text-shadow($cWhite 1px 1px 1px);

  // TODO: hover & active

  &.big {

    padding: 25px 36px;

    strong {
      @include inline-block();

      margin: 0 0 7px 0;
      padding: 0 0 7px 0;

      border-bottom: 1px solid $cGray3;
      @include text-shadow($cWhite 1px 1px 1px);
    }

    a {
      display:block;

      font-size:13px;
      color: $cGray2;
      @include text-shadow(none);
    }
  }
}


/* SECTION — CHARACTERISTICS */

section.characteristics {

  @extend .home-inner;

  padding: 50px 0 40px 0;

  background: url(backgrounds/bg-padded.png);

  .section_title { margin: 0 0 40px 0; }
  .inner > div { margin: 0 0 30px 0; }

  .box {
    $pT: 40px;
    $pR: 40px;
    $pB: 40px;
    $pL: 40px;

    @include inline-block();

    vertical-align: top;

    @include size(300px - $pL - $pR, false);
    padding: $pT $pR $pB $pL;
    margin: 0 20px 29px 0;

    background: $cWhite;

    border: 1px solid #ccc;
    @include border-radius(3px);

    text-align:center;

    &.last { margin-right: 0; }
  }

  .box p {
    padding: 15px 0 0 0;
    margin:auto;
    width: 221px;

    border-top: 1px solid #E5E5E5;

    @extend .sans-serif;
    font-size:15px;
    color: $cGray2;

    line-height:120%;
  }

  .box {position:relative;}
  .box .button {
    @include position(false, false, -45px, -1px);
    width: 248px;

    @include border-radius(0 0 3px 3px);
    padding-top: 20px;
    padding-bottom: 20px;
    margin:0;

    font-size:16px;
  }

  .how_does_it_work {
    .icon {
      margin: auto;
      padding-bottom: 10px;
    }

    .box {
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .box h2 {
      padding: 10px 0 15px 0;

      border-top: 1px solid #E5E5E5;

      @extend .sans-serif;
      font-size:21px;
      color: $cGray1;
    }

    .box.step-1 .icon {
      width: 153px;
      height:118px;
      @include icons-sprite(step-01);
    }

    .box.step-2 .icon {
      width: 190px;
      //height: 93px;
      height: 118px;
      @include icons-sprite(step-02, $offset-y:15);
    }

    .box.step-3 .icon {
      width: 173px;
      //height: 74px;
      height: 118px;
      @include icons-sprite(step-03, $offset-y:23);
    }

  }

  .box h3 {
    padding: 0 0 15px 0;

    @include font("sans-serif", 21px, $cGray1);
  }
}


/* SECTION: Call to action */

section.call_for_action {
  padding: 50px 0 57px 0;

  text-align:center;
  background: url(backgrounds/bg-orange.png) repeat-x;
  border-top: 1px solid rgba($cGray0, .6);
  border-bottom: 1px solid rgba($cGray0, .5);

  .section_title {
    color:$cWhite;
    margin: 0 0 43px 0;
  }

} // interest


/* SLIDESHOW */

section.slideshow {

  $pT: 50px;

  position:relative;
  height: 533px - $pT;

  padding: $pT 0 0 0;

  background: url(backgrounds/bg-stars.png) center top;

  overflow:hidden;

  .section_title {
    color:$cWhite;
  }

  .pagination {

    position:relative;
    top: -20px;
    margin: auto;

    text-align:center;

    li {

      @include inline-block();
      margin: 0 5px 0 0;

      &.selected a { @include icons-sprite(slideshow-bullet-selected); }

      a {
        display:block;

        @include size(7px);

        @include icons-sprite(slideshow-bullet);
        &:hover { @include icons-sprite(slideshow-bullet-selected); }
      }

    } // li
  } // pagination

  & > .slideshow {
    position:relative;
    @include size(874px, 463px);

    bottom: -25px;
    margin: auto;
  }

  & > .slideshow ul.slides {
    position:relative;
    list-style:none;
  }

  & > .slideshow ul.slides li {
    display:none;
    position:absolute;

    .bubble {
      @include position(-30px, -90px, false, false);
      @include size(171px, 172px);

      @include icons-sprite(slideshow-bubble);

      opacity:0;

      display:table;

      p {

        display:table-cell;
        vertical-align:middle;
        padding: 35px 30px 30px 30px;
        text-align: center;

        @include font("sans-serif-light", 16px, $cGray1);
      }
    }
  }

  .prev, .next {

    $width: 49px;
    $height: $width;

    @include position(50%, false, false, false);
    @include size($width, $height);

    margin-top: -1*$height/2;
  }

  $paginationPadding: 70px;

  .prev {
    left: -1*$paginationPadding;
    @include icons-sprite(btn-slideshow-prev);
    &:hover { @include icons-sprite(btn-slideshow-prev-hover);}
  }

  .next {
    right: -1*$paginationPadding;
    @include icons-sprite(btn-slideshow-next);
    &:hover { @include icons-sprite(btn-slideshow-next-hover);}
  }

}

/* FOOTER */

footer {

  position:relative;
  height:221px;

  @extend .home-inner;

  background: url(backgrounds/bg-padded.png);

  nav {
    @include position(65px, 0, false, false);
  }

  .logo {

    @include position(50px, false, false, false);
    @include font("sans-serif-bold", 31px, $cGray1);

  } // logo

  ul {
    @include inline-block();
    vertical-align: top;

    margin: 0 0 0 100px;

    li {
      margin: 0 0 7px 0;

      @extend .sans-serif;

      a {
        @include font("sans-serif", 15px, $cLink);
        &:hover { color: $cGray1; }
      }

      strong {
        display:block;
        margin: 0 0 10px 0;

        @include font("sans-serif", 13px);

        text-transform: uppercase;
      }
    } // li
  } // ul
} // footer

