@import "compass";
@import "helpers";

.button.white {
  @include inline-block();

  padding: 26px 96px;

  border: 1px solid #9A3E00;

  @include border-radius(5px);
  background: $cWhite;

  text-transform: uppercase;
  color: $cGray1;
  font-size:17px;
  @extend .sans-serif;

  // TODO: hover & active
}

.button.blue {
  @include inline-block();

  padding: 15px 26px 15px 26px;

  border: 1px solid #517EA2;

  @include border-radius(3px);
  background: url(backgrounds/bg-button-blue.png) 0 0;

  text-transform: uppercase;
  color: $cWhite;
  font-size:17px;
  @extend .sans-serif;
  @include text-shadow(#273F51 1px 1px 1px);

  // TODO: hover & active
}

.button.gray {
  @include inline-block();

  padding: 17px 27px;

  border: 1px solid #7F441F;

  @include border-radius(3px);
  @include background-image(linear-gradient($cWhite, #aaaaaa));

  @include font("sans-serif", 21px, $cGray1);
  @include text-shadow($cWhite 1px 1px 1px);

  // TODO: hover & active

  &:hover {
    @include background-image(linear-gradient($cGray5, #aaaaaa));
  }

  &:active {
    @include background-image(linear-gradient(#aaaaaa, $cGray5));
  }


  &.big {

    padding: 25px 36px;

    strong {
      @include inline-block();

      margin: 0 0 7px 0;
      padding: 0 0 7px 0;

      border-bottom: 1px solid $cGray3;
      @include text-shadow($cWhite 1px 1px 1px);
    }

    a {
      display:block;

      font-size:13px;
      color: $cGray2;
      @include text-shadow(none);
    }
  }
}


