@import "compass";
@import "helpers";

$formWidth: 880px;

.bg-map {
  position:absolute;
  height:269px;
  width:100%;
  top: 0;

  background: url(backgrounds/bg-map.png) top center;
}

.orders-inner {
  .inner {
    position:relative;
    margin: auto;
    width: $formWidth;

    text-align:left;
  }
}

section {
  &.dark {
    background: #F2F2F2;
  }

  &.highlighted {
    background: #FCFCEB;

    .inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &.comments {
    padding: 18px 0 0 0;
  }

  &.submit {
    padding: 18px 0;
  }

  &.centered {
    text-align:center;
    p { width: auto; }
  }

  h3 {
    margin: 0 0 10px 0;

    color: $cGray1;
    font-size: 17px;
    @extend .sans-serif-semi;
  }

  p {
    width: 550px;

    margin: 0 0 20px 0;

    line-height:120%;

    @extend .sans-serif-base;
    color: $cGray2;
    font-size:15px;
  }
}


body.orders {
  background: url(backgrounds/bg-padded.png);
}

body.orders footer {
  background: $cWhite;
  border-top: 1px solid #A5A5A5;
}

body.orders footer .inner {
  width: $formWidth;
}

body.orders header {
  @extend .orders-inner;
  position:relative;

  hgroup {
    position:relative;
    top: 80px;

    text-align:center;
    @extend .sans-serif-light;

    h3 {
      color: $cGray2;
      font-size:15px;
      margin: 0 0 5px 0;

    }

    h2 {
      font-size:21px;
      color: $cOrange;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
}

body.orders header nav ul li a,
body.orders header nav ul li:after,
body.orders header .logo { color: $cGray2; }

body.orders header nav ul li a:hover {
  border-bottom: 1px solid rgba(0,0,0,.5);
}

.radio    { @include radio(); }
.checkbox { @include checkbox(); }

label {
  display:block;
  clear:both;
  margin: 0 0 7px 0;

  color: $cGray2;
  @extend .sans-serif-bold;
  font-size:11px;
  text-transform:uppercase;
}

.field {
  margin: 0 0 30px 0;
  @include clearfix();

  &.left, &.right {
    float:left;

    vertical-align:top;
  }

  &.left { margin: 0 24px 0 0; }
  &.right { float:right; }
}

.textarea {
  $height: 152px;
  $width: 580px;
  $pT: 12px;
  $pR: 7px;

  @include inline-block();
  height:$height;
  width: $width;

  background:url(backgrounds/bg-form-textarea.png) no-repeat left 0;

  textarea {
    width: 100%;
    height: $height - $pT*2;
    margin: 0 0 0 5px;
    padding: $pT $pR;

    font-size: 14px;
    background:url(backgrounds/bg-form-textarea.png) repeat-x right -1*$height;

    border:none;
    outline:none;
    resize: none;
  }
}

.input-field {
  $height: 42px;
  $width: 400px;
  $pR: 7px;
  $pL: 5px;

  position:relative;

  @include inline-block();
  height:$height;
  width: $width;

  background:url(backgrounds/bg-form-input.png) no-repeat left 0;

  input[type="text"] {
    width:100%;
    height:$height;
    margin: 0 0 0 $pL;
    padding: 0 $pR 0 $pL;

    font-size: 14px;

    background:url(backgrounds/bg-form-input.png) repeat-x right -1*$height;
    border:none;
    outline:none;
  }

  .placeholder {

    position:absolute;

    top:0;
    padding: 13px 10px;

    font-size:15px;
    color: $cGray4;
    @extend .sans-serif-base;

    a {
      font-size:15px;
      color: #2483B3;
      text-decoration: underline;
    }
  }
}

form {
  margin: 118px auto;
  width: $formWidth;

  position:relative;

  @include border-radius(3px);
  background: $cWhite;
  border: 1px solid #9A9A9A;
}

form .map {
  height:461px;
  position:relative;
  overflow:hidden;

  border: 1px solid rgba(0,0,0,0.4);
  background: url(backgrounds/bg-map-stars.png) center top;
}

form .map .browser {
  $width: 722px;
  $height: 463px;

  @include absolute-vertical-center($width);
  position:absolute;
  bottom: -70px;
  width: $width;
  height: $height;

  @include icons-sprite(browser);
}

form section {
  @include clearfix();

  background:$cWhite;
  border-bottom: 1px solid $cBorder;

  .inner {
    padding: 30px 50px;
  }

  & > .left,
  & > .right { float:left; }

  & > .left {
    width: 650px;

    &.border {
      border-right: 1px solid $cBorder;
    }
  }

  & > .right {
    width: 229px;
    float:right;
    text-align:right;

    .inner {
      padding: 30px 48px 0 0;

    }
  }

  .price { @extend .sans-serif-base; font-size: 15px; font-weight:100; color: $cOrange; }
  .input-field { width: 248px; }

  .input-field.upload {
    width: 549px;

    .icon {
      float:left;

      margin: 0 7px 0 3px;

      width: 15px;
      height: 16px;
      @include icons-sprite(clip);
    }
  }

  .textarea { width: 546px; }

  &.highlighted {
    .inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  h3.total { margin: 0; text-transform: uppercase; }

  ul li:last-child { margin: 0; }

  .prices {
    li {
      @include clearfix();
      width: 780px;
      position:relative;
      margin: 0 0 20px 0;

      h3 { margin: 0 0 3px 0; }
      p { margin: 0 0 0px 0; }

      .price { display:none; top: 0; right: 0; position:absolute; }

      &.separator { padding: 30px 0 0 0;  background:url(icons/separator.png) no-repeat top left;}
      &.separator .price { top: 30px; }
    }
  }

    &.dark {
      .prices li .price { top: 10px; display:block; }
    }

  .checkbox, .radio {
    margin: 0 0 3px 0;

    cursor: pointer;

    @extend .sans-serif-semi;
    color: $cGray1;
    font-size:17px;
  }

  .description {
    margin: 0 0 0 15px;
    color: $cGray3;
    font-size:15px;
  }


}

form .templates {
  @include clearfix();
  border-bottom: 1px solid $cGray4;

  display: box;
  display: -moz-box;
  display: -webkit-box;

  li {

    a {
      color: $cGray2;
      font-size: 15px;
      @extend .sans-serif;
    }

    padding: 45px;

    border-right: 1px solid $cGray4;
    &:last-child { border:none; }

    text-align:center;
  }
}


#receipt {

  $width: 882px;

  position:relative;
  width: $width;
  margin: 150px auto 90px auto;

  background:url(backgrounds/bg-paper.png) repeat-y -1*$width 0;

  $extremesHeight: 30px;

  .t, .b { position:absolute; width: $width; height: $extremesHeight; }
  .t { top: -1*$extremesHeight; background:url(backgrounds/bg-paper.png) no-repeat 0 0; }
  .b { bottom: -1*$extremesHeight; background:url(backgrounds/bg-paper.png) no-repeat 0 -20px; }

  section {

    &:first-child {
      $pT: 20px;
      $pL: 40px;

      width: $width - 58px*2 - $pL*2 - 4px;
      padding: $pT $pL;
    }

    $pT: 40px;
    $pL: 40px;

    background:$cWhite;
    border-bottom: 1px solid $cBorder;
    margin: auto;
    width: $width - 58px*2 - $pL*2 - 4px;
    padding: $pT $pL;

    &.highlighted {
      background: #FCFCEB;
    }
  }
}
