@import "compass";
@import "helpers";

$formWidth: 880px;

.bg-map {
  position:absolute;
  top: 0;
  @include size(100%, 269px);

  background: url(backgrounds/bg-map.png) top center;
}

.orders-inner {
  .inner {
    position:relative;
    margin: auto;
    width: $formWidth;

    text-align:left;
  }
}

section {

  &.dark {
    background-color: #F2F2F2;
  }

  &.highlighted {
    background-color: #FCFCEB;

    a { color: #397DB9; text-decoration: underline; }

    .inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &.comments {
    padding: 18px 0 0 0;
  }

  &.submit {
    padding: 18px 0;
  }

  &.centered {
    text-align:center;
    p { width: auto; }
  }

  h3 {
    margin: 0 0 10px 0;
    @include font("sans-serif-semi", 17px, $cGray1);

    & > .price { float:right; }
    &.name { margin: 0; }
  }

  p {
    width: 550px;

    margin: 0 0 20px 0;

    line-height:120%;

    @include font("sans-serif-base", 15px, $cGray2);
  }

  a.button {
    text-decoration:none;
  }
}


body.orders {
  background: url(backgrounds/bg-padded.png);
}

body.orders footer {
  background: $cWhite;
  border-top: 1px solid #A5A5A5;
}

body.orders footer .inner {
  width: $formWidth;
}

body.orders header {
  @extend .orders-inner;
  position:relative;

  hgroup {
    position:relative;
    top: 80px;

    text-align:center;
    @extend .sans-serif-light;

    h3 {
      margin: 0 0 5px 0;

      color: $cGray2;
      font-size:15px;
    }

    h2 {
      font-size:21px;
      color: $cOrange;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
} // body.orders header

body.orders header nav ul li a,
body.orders header nav ul li:after,
body.orders header .logo { color: $cGray2; }

body.orders header nav ul li a:hover {
  border-bottom: 1px solid rgba($cGray0, 0.5);
}

.radio    { @include radio(); }
.checkbox { @include checkbox(); }

label {
  display:block;
  clear:both;
  margin: 0 0 7px 0;

  @include font("sans-serif-bold", 11px, $cGray2);
  text-transform:uppercase;

  @include transition-property(color);
  @include transition-duration(200ms);

}

.field {
  width: 263px;
  margin: 0 0 30px 0;
  @include clearfix();

  &.long {
    width: 580px;
  }

  &.left, &.right {
    float:left;

    vertical-align:top;
  }

  &.left { margin: 0 24px 0 0; }
  &.right { float:right; }

  &.error {
    label {
      color: $cError;

      span {
        float: right;
        text-transform: none;
        @include font("sans-serif", 12px, "#D05950");
      }
    }

  }
} // field


/* FORM ELEMENTS */


$textAreaHeight: 152px;
$textAreaWidth: 580px;

.textarea {

  $pT: 12px;
  $pR: 7px;

  @include inline-block();
  @include size($textAreaWidth, $textAreaHeight);

  background: url(backgrounds/bg-form-textarea.png) no-repeat left 0;

  textarea {
    @include size(100%, $textAreaHeight - $pT*2);

    margin: 0 0 0 5px;
    padding: $pT $pR;

    font-size: 14px;
    background:url(backgrounds/bg-form-textarea.png) repeat-x right -1*$textAreaHeight;

    border:none;
    outline:none;
    resize: none;
  }
}

.field.error .textarea {
  background: url(backgrounds/bg-form-textarea-error.png) no-repeat left 0;

  textarea {
    background:url(backgrounds/bg-form-textarea-error.png) repeat-x right -1*$textAreaHeight;
  }
}

$inputWidth: 400px;
$inputHeight: 42px;

.input-field {

  $pR: 7px;
  $pL: 5px;

  position:relative;

  @include inline-block();
  @include size($inputWidth, $inputHeight);

  background:url(backgrounds/bg-form-input.png) no-repeat left 0;

  input[type="text"] {

    @include size(100%, $inputHeight+1);

    margin:  0 0 0 $pL;
    padding: 0 $pR 0 $pL;

    font-size: 14px;

    background:url(backgrounds/bg-form-input.png) repeat-x right -1*$inputHeight;
    border:none;
    outline:none;
  }

  .placeholder {

    position:absolute;

    top:0;
    padding: 13px 10px;

    @include font("sans-serif-base", 15px, $cGray4);

    a {
      @include font("sans-serif-base", 15px, #2483B3);
      text-decoration: underline;
    }
  }
}

.field.error .input-field {
  background:url(backgrounds/bg-form-input-error.png) no-repeat left 0;

  input[type="text"] {
    background:url(backgrounds/bg-form-input-error.png) repeat-x right -1*$inputHeight;
  }
}


body.orders form.new_order {
  margin: 118px auto;
  width: $formWidth;

  position:relative;

  background: $cWhite;
  border: 1px solid #9A9A9A;
  @include border-radius(3px);
}

.dontknow {

  z-index:1000;

  .message {

    opacity: 0;

    @include position(50px, false, false, -500px);

    h2 {
      width: 400px;
      margin: 0 0 10px 0;

      @include font("sans-serif", 42px, $cWhite);
      @include text-shadow(rgba($cGray0, 0.5) 1px 1px 2px);
    }

    p {
      width: 340px;

      line-height: 20px;
      @include font("sans-serif", 18px, $cWhite);
      @include text-shadow(rgba($cGray0, 0.5) 1px 1px 2px);
    }

  }

  .browsers {
    opacity: 0;

    @include position(false, 0, 0, false);
    @include size(552px, 220px);
    @include icons-sprite(browsers);
  }

}

form .map {

  $width: 722px;
  $height: 463px;

  height:$height - 2;
  position:relative;
  overflow:hidden;

  border: 1px solid rgba($cGray0, 0.4);
  background: url(backgrounds/bg-map-stars.png) center top;

  z-index: 10;

  .shadow { pointer-events:none; }

  .browser {
    @include absolute-vertical-center($width);
    bottom: -70px;

    @include size($width, $height);
    @include icons-sprite(browser);

    .reload {

      @include position(8px, false, false, 5px);
      @include size(27px);

      @include icons-sprite(browser-reload);

      &:hover { @include icons-sprite(browser-reload-hover); }
      &:active, &:hover:active { @include icons-sprite(browser-reload-active); }
    }
    .home {
      @include position(8px, false, false, 32px);
      @include size(27px);

      @include icons-sprite(browser-home);

      &:hover { @include icons-sprite(browser-home-hover); }
      &:active, &:hover:active { @include icons-sprite(browser-home-active); }

    }
    .url {
      @include position(11px, false, false, 87px);
      @include size(610px, 17px);
      @include font("sans-serif-base", 13px, $cGray1);
      font-family: "Arial", sans-serif;

      border:none;
      outline:none;
      background:none;

    }

    .canvas {
      overflow:hidden;

      @include position(40px, false, false, 1px);
      @include size($width - 2, $height - 110);

      #map {
        @include size(100%, 100%);
      } // map
    }

  } // form map browser
}

 #container { z-index: 1000; }

.circle {

  display:none;

  @include position(650px, 183px, false, false);
  @include size(92px);
  @include icons-sprite(map-updated-circle);

  text-align:center;

  & > div {
    position:relative;
    top: 37px;
    margin: auto;
    width: 70px;

    line-height: 12px;
    text-transform: uppercase;
    @include font("sans-serif-light", 10px, $cWhite);
  }

}

form section {

  @include clearfix();

  background:$cWhite;
  border-bottom: 1px solid $cBorder;

  .inner { padding: 30px 50px; }

  & > .left,
  & > .right { float:left; }

  & > .left {
    width: 650px;

    &.border {
      border-right: 1px solid $cBorder;
    }
  }

  & > .right {
    width: 229px;
    float:right;
    text-align:right;

    .inner {
      padding: 30px 48px 0 0;
    }
  }

  .input-field { width: 248px; }

  .input-field.upload {

    width: 549px;

    .icon {
      float:left;
      margin: 0 7px 0 3px;
      @include size(15px, 16px);

      @include icons-sprite(clip);
    }
  }

  .textarea { width: 546px; }

  &.highlighted {
    .inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  h3.total { margin: 0; text-transform: uppercase; }

  ul li:last-child { margin: 0; }

  .prices {

    li {

      @include clearfix();
      position:relative;
      width: 780px;
      margin: 0 0 20px 0;

      /* --------------------------------- */

      h3 { margin: 0 0 3px 0; }
      p  { margin: 0 0 0 17px; color: $cGray3; }

      .price { display:none; @include position(0, 0, false, false); }
      .ellipsis { @include size(13px, 3px); @include icons-sprite(ellipsis); @include position(10px, 0, false, false); }

      &.separator { padding: 30px 0 0 0;  background:url(icons/separator.png) no-repeat top left; }
      &.separator .price { top: 30px; }
      &.separator .ellipsis { top: 40px; }
    }
  }

  &.dark {
    .prices li p { margin: 0; }
    .prices li .price { top: 10px; display:block; }
  }

  .checkbox, .radio {
    margin: 0 0 3px 0;

    cursor: pointer;

    @include font("sans-serif", 17px, $cGray2);

    @include transition-property(color);
    @include transition-duration(200ms);

    &.checked {
      color:$cGray1;
    }
  }

  .description {
    margin: 0 0 0 15px;
    color: $cGray3;
    font-size:15px;
  }

} // form section

form .navigation {

  position:relative;

  .tip {
    position: absolute;
    @include size(26px, 12px);
    bottom: -11px;
    left: 0;
    @include icons-sprite(triangle);
    z-index: 1000;
  }

  .templates {

    @include clearfix();

    display:table;

    border-bottom: 1px solid $cGray4;

    /* --------------------------------- */

    li {

      float: left;

      width: 175px;

      border-right: 1px solid $cGray4;
      text-align:center;

      a { display: block; padding: 45px 0; @include font("sans-serif", 15px, $cGray2); }
      a.selected { @include font("sans-serif-bold", 15px, $cGray1); }

      &:last-child { border:none; }

    }
  }
} // form templates


/* RECEIPT */

#receipt {

  $width: 882px;

  position:relative;
  width: $width;
  margin: 150px auto 90px auto;
  padding: 0 0 30px 0;

  background:url(backgrounds/bg-paper.png) repeat-y -1*$width 0;

  /* --------------------------------- */

  $extremesHeight: 30px;

  .t, .b { position:absolute; @include size($width, $extremesHeight); }
  .t { top:    -1*$extremesHeight; background:url(backgrounds/bg-paper.png) no-repeat 0 0; }
  .b { bottom: -1*$extremesHeight; background:url(backgrounds/bg-paper.png) no-repeat 0 -20px; }

  .stamp {
    @include size(96px);
    @include position(false, false, 25px, 120px);
    @include icons-sprite(stamp);
  }

  .stamp_paid {
    @include size(96px);
    @include position(false, 25px, -20px, false);
    @include icons-sprite(stamp-paid);
  }


  section {

    $pT: 40px;
    $pR: 40px;
    $pB: 60px;
    $pL: 40px;

    $marginWidth: 58px;

    position:relative;

    margin: auto;
    width: $width - $marginWidth*2 - $pL*2 - 4px;
    padding: $pT $pR $pB $pL;

    border-bottom: 1px solid $cBorder;

    /* --------------------------------- */

    &.highlighted {
      padding: 40px 40px 20px 40px;
    }

    &.paid {
      background-color: #E4F8DD;
      background-color: rgba(#E4F8DD, .7);

      padding: 40px 40px 20px 40px;

      p { color: $cGray2; }
			a { text-decoration: underline; color: $cLink}
    }

    &.dark {
      p { color: $cGray2; }
    }

    &.final-price {
      padding: 40px 40px 40px 40px;
    }

    &:first-child {
      $pT: 20px;
      $pL: 40px;

      width: $width - $marginWidth*2 - $pL*2 - 4px;
      padding: $pT $pL;
    }

    p { width: auto; color: $cGray3; font-size: 15px; }

    .date { float: right; @include font("sans-serif-base", 13px, $cGray4); }

    .additional {
      padding: 20px 0 0 0;
      margin:  20px 0 0 0;
      border-top: 1px solid $cBorder;
			@include font("sans-serif", 15px, $cGray3); 
      .price { float:right; }
    }

    .total {
      padding: 20px 0 0 0;
      margin:  20px 0 0 0;

      border-top: 1px solid $cBorder;

      strong { float: left; @include font("sans-serif", 13px, $cGray1); }
      .price { float:right; font-weight: bold}
    }

		.writeus {margin-left: 10px; @include font("sans-serif-base", 15px, $cGray2);}

    ul {
      margin: 0 0 20px 0;

      li {

        margin: 0 0 10px 0;

        @include font("sans-serif-base", 15px, $cGray3);

        .price { float: right; }
      }
    }

    ul li ul {
      margin: 10px 0 0 10px;
    }
  }
}

section#upload {
  @include transition-property(background);
  @include transition-duration(200ms);
  @include transition-timing-function(ease-in);
}

section#upload.finished  {
  background-color: #E4F8DD!important;
}

// Select

$border-radius: 3px;

.dk_container {
  margin-bottom: 18px;
  @include font("sans-serif-base-bold", 11px, $cGray2);
  text-transform: uppercase;
  line-height: 14px;

  background-color: #fff;

  @include border-radius($border-radius);

  &:focus { outline: 0; }
  & a { cursor: pointer; text-decoration: none; }
}

.dk_toggle {
  background-image: url('icons/dk_arrows.png');
  background-repeat: no-repeat;
  background-position: 90% center;
  border: 1px solid $cGray2;
  color: $cGray2;
  padding: 7px 45px 7px 10px;

  @include border-radius($border-radius);
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;

  &:hover { border-color: #8c8c8c; }
}

/* Applied when the dropdown is focused */
.dk_focus .dk_toggle { border-color: $cGray2; }

.dk_open { z-index: 10; }

.dk_open .dk_toggle {
  background-color: #ececec;
  border-color: #8c8c8c;
  color: #ccc;
  @include border-radius($border-radius $border-radius 0 0);
}

.dk_options {
  @include border-radius(0 0 $border-radius $border-radius);

  a {
    padding: 8px 10px;
    background-color: $cWhite;
    font-weight: bold;
  }

  li:last-child a {
    border-bottom: none;
  }
}

.dk_options a:hover,
.dk_option_current a {
  background-color: $cGray5;
  color: $cGray2;
  text-decoration: none;
}

.dk_options_inner {
  max-height: 250px;

  border: 1px solid #8c8c8e;
  color: $cGray1;
  @include border-radius(0 0 $border-radius $border-radius);
}

.dk_options_inner,
.dk_touch .dk_options {
  max-height: 250px;
}

