@import "compass";
@import "helpers";

$formWidth: 880px;

.bg-map {
  position:absolute;
  height:269px;
  width:100%;
  top: 0;

  background: url(backgrounds/bg-map.png) top center;
}

.orders-inner {
  .inner {
    position:relative;
    margin: auto;
    width: $formWidth;

    text-align:left;
  }
}

body.orders {
  background: url(backgrounds/bg-padded.png);
}

body.orders footer {
  background: $cWhite;
  border-top: 1px solid #A5A5A5;
}

body.orders footer .inner {
  width: $formWidth;
}

body.orders header {
  @extend .orders-inner;
  position:relative;

  hgroup {
    position:relative;
    top: 80px;

    text-align:center;
  }
}

body.orders header nav ul li a,
body.orders header nav ul li:after,
body.orders header .logo { color: $cGray2; }

.radio    { @include radio(); }
.checkbox { @include checkbox(); }

label {
  display:block;
  clear:both;
  margin: 0 0 5px 0;

  color: $cGray2;
  @extend .sans-serif-bold;
  font-size:11px;
  text-transform:uppercase;
}

.field {
  margin: 0 0 20px 0;
  @include clearfix();

  &.left, &.right {
    float:left;

    vertical-align:top;
  }

  &.left { margin: 0 24px 0 0; }
  &.right { float:right; }
}

.textarea {
  $height: 152px;
  $width: 580px;
  $pT: 12px;
  $pR: 7px;

  @include inline-block();
  height:$height;
  width: $width;

  background:url(backgrounds/bg-form-textarea.png) no-repeat left 0;

  textarea {
    width: 100%;
    height: $height - $pT*2;
    margin: 0 0 0 5px;
    padding: $pT $pR;

    font-size: 14px;
    background:url(backgrounds/bg-form-textarea.png) repeat-x right -1*$height;

    border:none;
    outline:none;
    resize: none;
  }
}

.input-field {
  $height: 42px;
  $width: 400px;
  $pR: 7px;
  $pL: 5px;

  position:relative;

  @include inline-block();
  height:$height;
  width: $width;

  background:url(backgrounds/bg-form-input.png) no-repeat left 0;

  input[type="text"] {
    width:100%;
    height:$height;
    margin: 0 0 0 $pL;
    padding: 0 $pR 0 $pL;

    font-size: 14px;

    background:url(backgrounds/bg-form-input.png) repeat-x right -1*$height;
    border:none;
    outline:none;
  }

  .placeholder {

    position:absolute;

    top:0;
    padding: 13px 10px;

    font-size:15px;
    color: #CCCCCC;
    @extend .sans-serif-base;

    a {
      font-size:15px;
      color: #2483B3;
      text-decoration: underline;
    }
  }
}

form {
  margin: 118px auto;
  width: $formWidth;

  @include border-radius(3px);
  background: #fff;
  border: 1px solid #9A9A9A;
}

form .map {
  height:461px;
  position:relative;
  overflow:hidden;

  border: 1px solid rgba(0,0,0,0.4);
  background: url(backgrounds/bg-map-stars.png) center top;
}

form .map .browser {
  $width: 722px;
  position:absolute;
  bottom: -70px;
  width: $width;
  height:463px;
  left: 50%;
  margin-left: -1*$width/2;

  @include icons-sprite(browser);
}

form section {
  @include clearfix();

  background:$cWhite;
  border-bottom: 1px solid $cBorder;

  .inner {
    padding: 30px 50px;
  }

  & > .left,
  & > .right { float:left; }

  & > .left {
    width: 650px;

    &.border {
      border-right: 1px solid $cBorder;
    }
  }

  & > .right {
    width: 229px;
    float:right;
    text-align:right;

    .inner {
      padding: 30px 48px 0 0;

    }
  }

  .price { @extend .sans-serif-base; font-size: 15px; font-weight:100; color: $cOrange; }
  .input-field { width: 248px; }
  .input-field.upload { width: 549px; }
  .textarea { width: 546px; }

  &.dark {
    background: #F2F2F2;
  }

  &.highlighted {
    background: #FCFCEB;

    .inner {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &.centered {
    text-align:center;
  }

  h3 {
    color: $cGray1;
    font-size: 17px;
    @extend .sans-serif-semi;

    &.total { text-transform: uppercase; }
  }

  .prices li { margin: 0 0 20px 0; }
  .prices li.separator { margin: 30px 0 0 0; padding: 30px 0 0 0; border-top: 1px solid $cBorder; }

  .checkbox, .radio {
    margin: 0 0 3px 0;

    @extend .sans-serif-semi;
    color: #333333;
    font-size:17px;
  }

  .description {
    margin: 0 0 0 15px;
    color: #999999;
    font-size:15px;
  }

  p {
    width: 550px;

    line-height:120%;

    @extend .sans-serif-base;
    color: #666666;
    font-size:15px;
  }


}

form .templates {
  @include clearfix();
  border-bottom: 1px solid #ccc;

  display: box;
  display: -moz-box;
  display: -webkit-box;

  li {

    a {
      color: #666666;
      font-size: 15px;
      @extend .sans-serif;
    }

    padding: 45px;

    border-right: 1px solid #ccc;
    &:last-child { border:none; }

    text-align:center;
  }
}
