<section class="dark">
<div class="left <% if (price) { %> border <% } %>">
  <div class="inner">
    <ul class="prices">
      <li>
      <h3><%= title %></h3>
      <% if (description) { %>
      <p><%= description %></p>
      <% } %>
      <% if (price) { %>
      <span class="price">$<%= price %></span>
      <% } %>
      </li>
    </ul>
  </div>
</div>
</section>
