<div class="fixed"></div>
<div class="circle"></div>

<% if (showPriceFields) { %>
<section>
<div class="left border">
  <div class="inner">
    <ul class="prices test"></ul>
  </div>
</div>
</section>

<section>
<div class="left border">
  <div class="inner">
    <h3 class="total">Total</h3>
  </div>
</div>
<div class="right">
  <div class="inner">
    <span class="subtotal price">Starting from $<%= total %></span>
  </div>
</div>
</section>
<% } %>
